:root {
  --font_poppins: "Poppins", sans-serif;
  --fs_sm: 12px;
  --fs_xl: 18px;
  --fs_2xl: 25px;
  --fw_normal: 400;
  --fw_medium: 500;
  --primary: #454cde;
  --primary_300: #edf3fd;
  --secondary: #575757;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font_poppins);
  font-weight: var(--fw_normal);
}
.text_primary {
  color: var(--primary);
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* sidebar css start */
#overlay {
  background-color: #000;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
#overlay.show {
  opacity: 0.5;
  visibility: visible;
}
.sidebar {
  border-right: 1px solid #ededed;
  width: 250px;
  background-color: #fff;
  transition: 0.3s;
  z-index: 90;
}
.sidebar_inner {
  padding: 24px 10px;
}
.sidebar_menu li,
.dropdown-menu ul li {
  display: block;
  transition: 0.3s;
  border-radius: 6px;
}
.sidebar_menu li:hover,
.sidebar_menu li.active {
  background-color: var(--primary_300);
}
.sidebar_menu a,
.dropdown-menu ul a,
.subpage_menu li a {
  display: block;
  font-size: var(--fs_sm);
  color: var(--secondary);
  text-decoration: none;
  font-weight: var(--fw_medium);
  padding: 9.5px 16px;
  line-height: 18px;
  transition: 0.3s;
}
.sidebar_menu li.active a,
.sidebar_menu li:hover a {
  color: var(--primary);
}
.menu_icon {
  display: inline-block;
  margin-right: 10px;
}
.menu_icon svg path,
.dropdown-menu ul a svg path {
  transition: 0.3s;
  stroke: var(--secondary);
}
.sidebar_menu li:hover a svg path,
.dropdown-menu ul a:hover svg path,
.box-btn:hover svg path {
  stroke: var(--primary);
}
.sidebar_menu [data-bs-toggle="collapse"] {
  position: relative;
}
.sidebar_menu [data-bs-toggle="collapse"]::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../img/right-angle.svg) no-repeat center center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.sidebar_menu [data-bs-toggle="collapse"][aria-expanded="false"]::after {
  background: url(../img/right-angle.svg) no-repeat center center;
}
.sidebar_menu [data-bs-toggle="collapse"][aria-expanded="true"]::after {
  background: url(../img/right-angle-primary.svg) no-repeat center center;
  transform: translateY(-50%) rotateZ(90deg);
}
/* sidebar css end */

/* header css start */
.header-area {
  padding: 24px 0px;
}
.dropdown-menu {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  margin-top: 5px !important;
  padding-top: 15px;
}
.user-trigger img {
  width: 36px;
  height: 36px;
}
.user-trigger span {
  margin-left: 10px;
  color: #000;
  font-size: var(--fs_sm);
}

.dropdown-menu ul li:not(:last-child) {
  margin-bottom: 7px;
}
.box-btn {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 9px 16px !important;
  transition: 0.3s;
  font-weight: 500;
  font-size: 12px;
  color: var(--secondary);
}
.box-btn svg {
  margin-right: 6px;
}
.box-btn:hover {
  color: var(--primary);
  border-color: var(--primary);
}
.box-btn:hover {
  border-color: var(--primary);
  color: var(--primary);
}
.box-btn.fill_primary:hover {
  background-color: #454cdee8;
  color: #fff;
}
.box-btn.fill_primary:hover svg path {
  stroke: #fff;
}
.dropdown-menu.user-dropdown {
  min-width: 180px;
}
.notificaion-part {
  margin-right: 28px;
}
.dropdown-menu ul a:hover {
  color: var(--primary);
}
.notification-alert-dot {
  width: 5px;
  height: 5px;
  background-color: #ca1325;
  right: 0px;
  top: -3px;
}
/* header css end */

/* main-content css start */
.sidebar + .v-flex {
  margin-left: 250px;
}

.primary-title {
  font-size: var(--fs_2xl);
  font-weight: 600;
  margin-bottom: 15px;
}
.enquiry-wrap {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.fill_primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}
.enquiry-right-zone .box-btn {
  margin-left: 18px;
}
.subpage_menu {
  border-bottom: 1px solid #ededed;
}
.subpage_menu li:not(:last-child) {
  margin-right: 30px;
}
.advertisement {
  margin-bottom: 25px;
  background-color: #ededed;
  border-radius: 6px;
}
.advertisement img {
  border-radius: 6px;
}
.process-count {
  background-color: var(--primary_300);
  color: var(--primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  padding: 4px 8px;
  border-radius: 31px;
  min-width: 31px;
  text-align: center;
  margin-left: 10px;
}
/* main-content css end */

/* footer css start */
.footer-area {
  background-color: #fafafa;
  padding: 18px 0;
}
.footer-area p {
  font-size: var(--fs_sm);
  color: var(--secondary);
}
/* footer css end */

/* media query */
@media screen and (max-width: 1199px) {
  .sidebar {
    left: -100%;
  }
  .sidebar + .v-flex {
    margin-left: 0;
  }
  .menu_bar {
    background: none;
    border: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3px;
  }
  .header-area {
    padding: 18px 0px;
  }
  .sidebar.show {
    left: 0;
  }
}
